<%- include('partials/header'); -%>

    <h1>Your BMI is
        <%=bmiofuser%>
    </h1>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('partials/footer'); -%>